/* src/App.css */

:root {
  --siena-green: #006b54;
  --siena-yellow: #fcc917;
  --siena-dark: #004d3a; /* Optional: Darker shade for accents */
  --siena-light: #ffffff; /* Optional: Light shade for backgrounds */
  --text-color: #333333;
}

.App {
  text-align: center;
  font-family: 'Gudea', sans-serif;
  background-color: var(--siena-light);
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}